.header {
  z-index: 1;
  position: fixed;
  background-color: red;
}

/* Hamburger twisting effect */
#hamburgerEffect {
  display: none;
}

#hamburgerEffect:checked ~ #meny {
  transform: translateX(0rem);
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 1rem;
  top: 0.4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
  z-index: 999;
}

#hamburgerEffect:checked ~ #burger > div {
  background-color: #fff;
}

#hamburgerEffect:checked ~ #burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#hamburgerEffect:checked ~ #burger > div:nth-child(2) {
  opacity: 0;
}
#hamburgerEffect:checked ~ #burger > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
/* ends here */

.navbar-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  z-index: 1;
}

.navbar_custom {
  display: flex;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  list-style: none;
  color: white;
  transition: all 0.8s ease-in-out;
  background-color: black;
  z-index: 9999;
}

.contact_button {
  margin-left: 35px;
}

.navbar_custom li .a::before {
  content: "";
  position: absolute;
  background-color: var(--text_red);
  height: 2px;
  width: 0px;
  margin-top: 25px;
  transition: width 0.5s;
}

.navbar_custom li:hover .a::before {
  width: 50px;
}

@media screen and (max-width: 960px) {
  .contact_button {
    display: none;
  }
  .navbar_custom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar_custom.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    justify-content: flex-start;
  }

  .navbar_custom li {
    /* margin-bottom: 70px; */
    padding: 2rem;
    align-self: flex-start;
    width: 100%;
  }

  .inactivity {
    display: none;
  }
}
