.header{
   z-index: 9999;
   background-color: red;
}
.navbar li .a::before{
   content:'';
   position: absolute;
   background-color: var(--text_red);
   /* background-color: red; */
   height: 2px;
   width:0px;
   margin-top:25px;
   transition: width 0.5s ;
}

.navbar li:hover .a::before{
   width:50px;
}
/* .drop {
   width: 250px;
   height: 100vh;
   /* animation: drops 0.5s; */
   /* background-color: blue;
   transition: all  0.5s ease-out;
} */ */
.sidebar_custom{
   width: 250px;
   height: 100vh;
   transition: all 0.5s ease-out;
}

/* @keyframes drops {
   from{
    width: 0px;
    height: 0px;
   }
   to{
width: 200px;
height: 100vh;
   }
} */

/* @media screen and (max-width:1023px) {
    .navbar{
      padding-left: 10px;
      padding-right: 10px;
    }
    .navbar ul li a{
    font-size: 0.8em;
    }
}
@media screen and (max-width:960px) {
    .navbar{
      padding-left: 10px;
      padding-right: 10px;
    }
    .navbar ul li a{
    font-size: 0.7em;
    }
} */
