.section {
  height: 80vh;
}

.section .section__img {
  height: 80vh;
}

.text {
  color: var(--text_red);
}

/* My CSS */
.section_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .section {
    height: 50vh;
  }
}
